<header>
  {{ page.top_banner }}
</header>

<div class="logo">
  {{ page.logo }}
</div>

<nav>
  {{ page.navigation }}
</nav>

<div class="layout">
  <aside class="sidebar">
    {{ page.sidebar_first }}
  </aside>
  <main>
    {{ page.content }}
  </main>
</div>

<footer>
  {{ page.footer }}
</footer>
